{% extends "common/base.html" %}

{% block content %}
<div class="container">
  <div class="row" style="margin-top: 1rem;">
    <div class="col s5 card-panel white">
      <div class="col s12">
        <div class="row" style="margin-top: 30px;">
          <div class="col s12 center">
            <img src="/static/img/icon.png" alt="" class="circle" style="width: 72px; height: 72px;">
          </div>
          <div class="col s12 center">
            <p class="grey-text lighten-5">ユーザー名</p>
          </div>
          <div class="col s12 center">コメント。コメント。コメント。コメント。コメント。コメント。コメント。コメント。</div>
          <div class="col s6">
            <h5 class="col s12 center">111</h5>
            <div class="col s12 center">投稿</div>
          </div>
          <div class="col s6">
            <h5 class="col s12 center">999</h5>
            <div class="col s12 center">フォロワー</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col s7">
      <div class="col s12">
        <div class="col s12"><i class="material-icons circle">announcement</i>フォローした人の新着記事</div>
        <div class="col s12">
          <ul class="collection">
            <li class="collection-item avatar">
              <img src="images/yuna.jpg" alt="" class="circle">
              <span class="title">Title</span>
              <p>First Line <br>
                Second Line
              </p>
              <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
            </li>
            <li class="collection-item avatar">
              <i class="material-icons circle">folder</i>
              <span class="title">Title</span>
              <p>First Line <br>
                Second Line
              </p>
              <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
            </li>
            <li class="collection-item avatar">
              <i class="material-icons circle green">insert_chart</i>
              <span class="title">Title</span>
              <p>First Line <br>
                Second Line
              </p>
              <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col s12">
        <div class="col s12 collection-itemavatar"><i class="material-icons circle">view_module</i>すべての記事</div>
        <div class="col s12">
          <ul class="collection">
            <li class="collection-item avatar">
              <img src="images/yuna.jpg" alt="" class="circle">
              <span class="title">Title</span>
              <p>First Line <br>
                Second Line
              </p>
              <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
            </li>
            <li class="collection-item avatar">
              <i class="material-icons circle">folder</i>
              <span class="title">Title</span>
              <p>First Line <br>
                Second Line
              </p>
              <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
            </li>
            <li class="collection-item avatar">
              <i class="material-icons circle green">insert_chart</i>
              <span class="title">Title</span>
              <p>First Line <br>
                Second Line
              </p>
              <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}